
   @using PollingTask.Presentation.ViewModels
@model AdminLoginView
@{
    ViewBag.Title = "Admin Login";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <div class="col-md-6">
        <h1>Admin Login Page</h1>
        <hr />
        <form method="post" asp-action="AdminLogin">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
            </div>
            <br />

            <button type="submit" class="btn btn-primary">Login</button>
            <br />
        </form>
    </div>
</div>
