@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PollingTask.Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PollingTask.Presentation.styles.css" asp-append-version="true" />
</head>
<body>

    <ul class="navbar-nav ml-auto">       
            <footer class="bg-dark text-white py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-primary">
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("DashboardHome", "Dashboard")'">Go to Dashboard Home</button>
                        </div>
                    </div>
                </div>
            </footer>


    </ul>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Polling Website - <a asp-area="" asp-controller="Home" asp-action="Login">Home</a> - <a asp-area="" asp-controller="Dashboard" asp-action="AdminLogin">Dashboard</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
