@using PollingTask.Presentation.ViewModels
@model LoginView
@{
	ViewBag.Title = "Login";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="row">
	<div class="col-md-6">
		<h1>User Login Page</h1>
		<hr />
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
						Are You New User?<a class="btn btn-link" asp-controller="Home" asp-action="Register">Create Account</a>

			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<br />

			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<br />

			<div class="form-group">
				<div class="checkbox">
					<label asp-for="RememberMe">
						<input asp-for="RememberMe" />
						@Html.DisplayNameFor(m => m.RememberMe)
					</label>
				</div>
			</div>
			<br />

			<button type="submit" class="btn btn-primary">Login</button>
			<br />
		</form>
		@* <div class="mt-3">
			<a class="btn btn-link" asp-controller="Account" asp-action="Register">Create Account</a>
		</div> *@
	</div>
</div>


